@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar ul li {
    padding: 0 15px;
}
.navbar ul li a{
    font-weight: 500;
    color: #000 !important;
}
.navbar {
    padding: 20px !important;
}
.navbar.putih {
    background-color: #fff !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.125);
}
.card-feature {
    border-radius: 15px;
}
.card-testi {
    box-shadow:  0 0 2px rgba(0, 0, 0, 0.125) !important;
    border-radius: 20px;
}
.card-testi:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.125) !important;
}
footer ul li {
    list-style: none;
    margin-left: -30px;
    padding-bottom: 17px;
}
footer ul li a{
    color: #000;
    font-weight: 400;
    opacity: 0.8;
    text-decoration: none;
}
footer h5 {
    font-weight: 600;
    padding-bottom: 17px;
}


/* breakpoint */
/* desktop */
@media (min-width: 300px) {
    .section-banner .text-content h1{
        font-size: 32px;
    }
    .navbar ul li {
        padding: 0px;
    }
    .section-banner .text-content  {
        text-align: center;
    }
    .section-banner .text-content p {
        font-size: 13px;
    }
    .navbar .bt-1 {
        margin-right: 15px;
    }
    .navbar .bt {
        margin-top: 15px;
    }
    .section-banner .text-content .bt-2 {
        margin-bottom: 20px;
    }
    .section-banner .img-content img {
        width: 100%;
        height: 100%;
        margin-top: 40px;
    }
    .section-about .img-content img {
        width: 100%;
        height: 100%;
    }
    .section-about .text-content h2 {
        font-size: 25px;
    }
    .section-about .text-content p{
        font-size: 10px;
    }
    .section-about .text-content {
        margin-top: 50px;
        text-align: center;
    }
    .section-sponsor img {
        width: 50%;
        height: 50%;
        margin: 10px 0;
    }
}
/* desktop */
@media (min-width: 400px) {
    .section-banner .text-content h1{
        font-size: 45px;
    }
    .navbar .bt {
        margin-top: 15px;
    }
    .section-banner .text-content .bt-2 {
        margin-bottom: 20px;
    }
    .section-banner .text-content  {
        text-align: center;
    }
    .section-banner .text-content p {
        font-size: 17px;
    }
    .navbar ul li {
        padding: 0px;
    }
    .navbar .bt-1 {
        margin-right: 15px;
        padding-bottom: 15px;
    }
    .section-banner .img-content img {
        width: 100%;
        height: 100%;
        margin-top: 40px;
    }
    .section-about .img-content img {
        width: 100%;
        height: 100%;
    }
    .section-about .text-content h2 {
        font-size: 40px;
    }
    .section-about .text-content p{
        font-size: 17px;
    }
    .section-about .text-content {
        margin-top: 50px;
        text-align: center;
    }
    .section-sponsor img {
        width: 42%;
        height: 42%;
        margin: 10px;
    }
}
/* desktop */
@media (min-width: 777px) {
    .section-banner .text-content h1{
        font-size: 45px;
    }
    .section-banner .text-content  {
        text-align: center;
    }
    .section-banner .text-content p {
        font-size: 17px;
    }
    .navbar .bt {
        margin-top: 15px;
    }
    .navbar ul li {
        padding: 0 15px;
    }
    .section-banner .text-content .bt-2 {
        margin-bottom: 20px;
    }
    .navbar .bt-1 {
        margin-right: 15px;
        padding-bottom: 15px;
    }
    .section-banner .img-content img {
        width: 100%;
        height: 100%;
        margin-top: 40px;
    }
    .section-about .img-content img {
        width: 100%;
        height: 100%;
    }
    .section-about .text-content h2 {
        font-size: 40px;
    }
    .section-about .text-content p{
        font-size: 17px;
    }
    .section-about .text-content {
        margin-top: 50px;
        text-align: center;
    }
    .section-sponsor img {
        width: 30%;
        height: 30%;
        margin: 10px;
    }
    .navbar ul li {
        padding: 0px;
    }
}
/* desktop */
@media (min-width: 999px) {
    .section-banner .text-content h1{
        font-size: 45px;
    }
    .section-banner .text-content .bt-2 {
        margin-bottom: 0px;
    }
    .section-banner .text-content p {
        font-size: 17px;
    }
    .section-banner .text-content  {
        text-align: left;
    }
    .navbar .bt {
        margin-top: 0px;
    }
    .navbar ul li {
        padding: 0 15px;
    }
    .navbar .bt-1 {
        margin-right: 15px;
        padding-bottom: 0px !important;
    }
    .section-banner .img-content img {
        width: 120%;
        height: 120%;
        margin-top: -40px;
    }
    .section-about .img-content img {
        width: 110%;
        height: 110%;
    }
    .section-about .text-content h2 {
        font-size: 40px;
    }
    .section-about .text-content p{
        font-size: 17px;
    }
    .section-about .text-content {
        margin-top: 80px;
        text-align: left;
    }
    .section-sponsor img {
        width: 20%;
        height: 20%;
        margin: 10px;
    }
}
/* pc */
@media (min-width: 1200px) {
    .section-banner .text-content h1{
        font-size: 45px;
    }
    .navbar .bt {
        margin-top: 0px;
    } 
    .section-banner .text-content .bt-2 {
        margin-bottom: 0px;
    }
    .section-banner .text-content {
        text-align: left;
    }
    .section-banner .text-content p {
        font-size: 17px;
    }
    .navbar .bt-1 {
        margin-right: 15px;
        padding-bottom: 0 !important;
    }
    .section-banner .img-content img {
        width: 100%;
        height: 100%;
        margin-top: -40px;
    }
    .section-about .img-content img {
        width: 100%;
        height: 100%;
    }
    .navbar ul li {
        padding: 0 15px;
    }
    .section-about .text-content h2 {
        font-size: 40px;
    }
    .section-about .text-content p{
        font-size: 17px;
    }
    .section-about .text-content {
        margin-top: 150px;
        text-align: left;
    }
    .section-sponsor img {
        width: 16%;
        height: 16%;
        margin: 20px;
    }
}